Django==1.7.3
django-admin-sortable==2.0.3
django-appconf==1.0.1
django-bootstrap3==5.1.1
django-imagekit==3.2.7
django-mptt==0.7.4
django-photologue==3.3.2
django-sortedm2m==1.0.2
pilkit==1.1.13
Pillow==3.0.0
six==1.10.0