{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-6">
    <h4>Concrete Services in Amarillo, TX</h4>
    <p>CONTACT TURN KEY CONSTRUCTION FOR CONCRETE APPLICATIONS</p>
    <p>Concrete is one of the most durable, cost-effective materials you can apply to your home. Surprisingly, concrete is also quite versatile, making it a go-to choice for many surfaces. We can also tint the concrete to almost any shade, apply a sealant to give the surface a high-gloss or incorporate designs to customize your surface. Call Turn Key Construction today to discover how concrete can provide a durable, low-maintenance surface in any area of your home.</p><hr>
    </div>
    <div class="col-xs-6">
        <img src="{% static 'images/concrete.jpg' %}" width="100%" height="50%">
    </div>
    <div class="col-xs-12">
        <h4>Concrete is ideal for many surfaces</h4>
        <p>DISCOVER THE VERSATILITY OF CONCRETE</p>
        <p>Concrete is a go-to material for foundations and driveways, but it can also be applied to many other areas of your property. Call Turn Key Construction for concrete services in Amarillo, TX. Consider concrete for your:</p>
        <ul>
            <li>Driveway</li>
            <li>Walkways</li>
            <li>Patio</li>
            <li>Garage floor</li>
            <li>Exterior Seating</li>
            <li>Basketball or Tennis courts</li>
            <li>Pool Deck</li>
            <li>Or anywhere you need a durable, low-maintenance surface</li>
        </ul>
        <p>Call Turn Key Construction for quality concrete services in Amarillo, TX.</p>
    </div>
</div>
{% endblock %}