{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-6">
    <img src="{% static 'images/custom.jpg' %}" width="100%" height="40%">
    <hr>
    <h4>Five things to consider when investing in a custom home.</h4>
    <p>CONTEMPLATE WHAT YOU WANT IN A HOME, THEN CALL TURN KEY CONSTRUCTION!</p>
    <p>Building a custom home is a process. There are a few factors to consider before our crews break ground. Contact the professionals at Turn Key Construction for assistance with any aspect of planning your new custom home.</p>
        <ol>
            <li>Budget -- How much you want to fiscally invest in your home will influence many features. We can help adjust your floor plan or amenities to accommodate any budget.</li>
            <li>Location -- The location of your lot may drastically alter the layout of your home. The landscape, proximity to neighbors and access to sunlight are elements that may influence the custom look and function of your home.</li>
            <li>Family size/special accommodations -- Your family’s composition can impact the size and layout of your custom home. The quantity and positioning of bedrooms are greatly affected by family size and make-up. Another factor to consider is age. A single-story home may be more practical for elderly family members.</li>
            <li>New design or plan alterations -- Do you want to start completely from scratch or alter an existing floor plan? Complete designs can be more complicated but they give you total control over all aspects of your home. Going with an existing plan means your home will somewhat resemble another home, but you still have free range to alter room dimensions, window styles and arrangements and interior features to customize your home.</li>
            <li>Builders -- This is the easiest decision to make when building a custom home. Turn Key Construction is your best choice for custom homes in Amarillo, TX! We have been building beautiful custom homes in Amarillo, TX, for years. Trust us to provide the beauty and functionality you want in a new custom home.</li>
        </ol>
    </div>
    <div class="col-xs-6">
    <h4>Custom Homes in Amarillo, TX</h4>
    <p>CONTACT TURN KEY CONSTRUCTION FOR YOUR CUSTOM HOME</p>
    <p>Cookie cutters are great for cookies, not homes. If you’re in the market for a new home, why not invest in one that is specifically designed and built to accommodate the lifestyle of you and your family? With Turn Key Construction, your new custom home in Amarillo, TX, is built to your specifications to provide you with a beautiful, functional home that is just the way you want it. We have existing plans available for modification or can start with a blank page and your ideas. Either way, your new home is tailor-made to accommodate your needs and lifestyle.</p>
        <p>Our range of value in our homes start at $180 thousand to $3 million.</p>
    </div>
    <div class="col-xs-6"><hr>
       <img src="{% static 'images/forsale.jpg' %}" width="100%" height="75%">
        <p>Call today to discuss options for a new custom home built by Turn Key Construction.</p>
    </div>
</div>
{% endblock %}