{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="col-lg-6 col-xs-hidden">
  <div id="slideshow" class="col-lg-12">
      <img src="{% static 'images/house2outside2.jpg' %}" alt="" class="active"
      onload="window.location.href" />
      <img src="{% static 'images/house1inside6.jpg' %}" alt="" onload="window.location.href"/>
      <img src="{% static 'images/house1inside4.jpg' %}" alt="" onload="window.location.href"/>
  </div>
       <hr>
       <br>
    <p>After a few years of business, Turn Key Construction Company, LLC is rapidly becoming Amarillo Texas’ home for homes. We specialize in custom home builds and remodels and cater to people in the Amarillo, TX area who desire luxurious homes that stand out above all the rest. Our craftsmanship was recently featured on HGTV, but you don’t need to tune in to see what we can do for your home. See it for yourself! We are licensed, bonded and insured members of the National Association of Home Builders and the Texas Panhandle Builders Association, so our quality service is guaranteed. Call us today to discuss your new home.</p>
    <br>

    <p>Our new construction and renovation services are making Amarillo, TX, a beautiful place to live. Call us today to discuss any of our services for your new or existing home.</p>
</div>
<div class="col-lg-6">
<img src="{% static 'images/Houseoct1.jpg' %}" width="100%" height="50%"><hr>
<h4>Custom Home Services for Homeowners in the Amarillo, TX Area</h4>
    <p>CALL TURN KEY CONSTRUCTION FOR QUALITY HOME SERVICES FROM THE FOUNDATION TO THE ROOF</p>
    <p>Turn Key Construction Company, LLC, provides quality home construction and renovation services for all homes at any stage of development. If you are ready to build a brand new custom home, would like to renovate your existing home, replace a weather-wrecked roof or change something else, give us a call! Reach out to the professionals at Turn Key Construction for:</p>
        <p>Our Services</p>
    <ul>
        <li>Custom Homes</li>
        <li>Roofing</li>
        <li>New Construction</li>
        <li>Concrete Services</li>
        <li>Snow Removal</li>
        <li>And more...</li>
    </ul>
</div>
</div>

{% endblock %}
