{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-6">
        <h4>New Construction Services in Amarillo, TX</h4>
        <p>CONTACT TURN KEY CONSTRUCTION FOR AN ESTIMATE</p>
        <p>Turn Key Construction provides exceptional service at every stage of the building process. From foundation to finish, we meticulously craft every element of each new structure. Though we specialize in constructing custom homes, you can also rely on Turn Key Construction for metal structures and commercial buildings. Call today to discuss your new construction plan or ask about recently completed new construction projects!</p><hr>
    </div>
    <div class="col-xs-6">
    <img src="{% static 'images/plans.jpg' %}" width="100%" height="50%">
    </div>
    <div class="col-xs-12">
        <h4>Be the first to enjoy your new structure</h4>
        <p>TURN KEY CONSTRUCTION IS YOUR NEW CONSTRUCTION PROVIDER IN AMARILLO, TX</p>
        <p>Don’t you love that new car smell? Imagine experiencing it in your new home or business! We have recently completed homes just waiting for you to adore them. Or if you have a lot and are ready to start a new construction project, give us a call! We deliver quality construction service from beginning to end on new plans for:</p>
        <ul>
            <li>Commercial Buildings</li>
            <li>Custom Homes</li>
            <li>Garages/Carports</li>
            <li>Home Additions</li>
            <li>Metal Buildings</li>
            <li>Municipal Buildings</li>
        </ul>
        <p>Call Turn Key Construction today and ask about our recently completed new construction projects or request professional help with your own.</p>
    </div>
</div>
{% endblock %}