{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-6">
        <h4>Remodeling Services in Amarillo, TX</h4>
        <p>CONTACT TURN KEY CONSTRUCTION FOR YOUR REMODELING PROJECT</p>
        <p>Remodeling projects are a great way to invigorate the look and functionality of your home while increasing value. Considering the value that remodels can add to your home, remodeling projects can essentially pay for themselves. Bathrooms and kitchens are a good place to start with remodeling projects, but any area of your house could benefit from renovations. If you are ready to transform an entire room or your entire home, call Turn Key Construction.</p><hr>
    </div>
    <div class="col-xs-6">
        <img src="{% static 'images/remodeling.jpg' %}" width="100%" height="50%">
    </div>
    <div>
        <h4>There are countless ways to rejuvenate your home</h4>
        <p>CALL TURN KEY FOR ALL REMODELING PROJECTS IN AMARILLO, TX</p>
        <p>From the floor to the ceiling, your home is always a blank canvas awaiting renovation. To improve the look, functionality and value of your home, call Turn Key Construction for remodeling services. Equip your bathroom with cost-effective and durable porcelain tile walls; give your kitchen a facelift with new cabinetry or convert that extra bedroom into a practical office area. The potential in your home is endless, let Turn Key Construction help you tap into it.
    </p>
    <p>Contact Turn Key Construction for remodeling services in Amarillo, TX.</p>
    </div>
</div>
{% endblock %}