{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-6">
        <h4>Snow Removal Services in Amarillo, TX</h4>
        <p>CONTACT TURN KEY CONSTRUCTION FOR IMMEDIATE SNOW REMOVAL</p>
        <p>While we have some scorching summers in Amarillo, we also experience over a foot of snowfall on average each year. There aren’t many snow removal services in Amarillo, TX, so it can be confusing how to handle accumulated snowfall. Aside from the inconvenience of snow-covered walkways and driveways, snow can present hazards to your home. Heavy snowfall can cause structures to collapse and rapid melting can potentially lead to flooding. If you are worried about the effect snow may be having on your home, or you just want a safe and clear walkway or driveway, call Turn Key Construction.</p><hr>
    </div>
    <div class="col-xs-6">
        <img src="{% static 'images/snowplow.jpg' %}" width="100%" height="50%">
    </div>
</div>
{% endblock %}